/**
 * Sección de etiquetas
 */
 html, body {
 	background: rgba( 150, 168, 190, .8 );
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

header {
	background: #555;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

/**
 * Sección de identificados
 */
#contenedor {
	height: 90%;
	margin: auto;
	width: 80%;
}

#content-ejemplo {
	border-radius: 5px;
	border: 5px solid #fff;
	height: 95%;
	margin: 10 auto;
	overflow: auto;
}

/**
 * Sección de clases
 */
.img-frame {
	background: rgba( 51, 51, 51, 0.6 );
	border-radius: 5px;
	height: auto;
	margin: 5px auto;
	width: 99%;
}

.img-box {
	background: #333;
	box-shadow: 0 0 5px 1px #ccc;
	display: inline-flex;
	height: 100px;
	width: 200px;
}

.description-box {
	color: #fff;
	display: inline-block;
	height: 100px;
	margin-left: 10px;
}

.img-class {
	display: block;
	border: 1px dashed #0f0;
	margin: auto;
}

.example-live {
	-webkit-transition: all 500ms ease-out 1s;
	-moz-transition: all 500ms ease-out 1s;
	-o-transition: all 500ms ease-out 1s;
	transition: all 500ms ease-out 1s;
}