html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: #555;
    color: #fff;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

#contenedor {
    height: 90%;
    margin: auto;
    width: 80%;
}

#content-ejemplo {
	height: 95%;
	width: 50%;
    margin: 0 auto;
}

.img-frame {
    background: rgba(51, 51, 51, 0.6);
    height: auto;
    margin: 5px auto;
    width: 99%;
}

.img-box {
    background: #333;
    display: inline-flex;
    height: 100px;
    width: 200px;
}

.description-box {
    color: #fff;
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}

.img-class {
    display: block;
    border: 1px dashed #fff;
    margin: auto;
}
